{% set cinder = salt['grains.filter_by']({
    'Ubuntu': {
        'conf_dir': '/etc/cinder',
        'migrate_repo': 
            '/usr/lib/python2.7/dist-packages/'
            + 'cinder/db/sqlalchemy/migrate_repo/',
        'nfs_mount_options': 'default',
        'lock_path': '/var/lock/cinder',
        'packages': [
                        'cinder-api',
                        'cinder-scheduler',
                        'python-mysqldb',
        ],
        'state_path': '/var/lib/cinder',
        'volumes_dir': '/var/lib/cinder/volumes',
    },
}, merge=salt['pillar.get']('cinder:lookup'), grain='os') %}
