openstack:
    #release: icehouse
    # This one is a TODO for most services' config:
    #region: openstack_defaults.region_name = RegionOne
    controller:
        address_int: # fallback in most places: 127.0.0.1
        address_ext: # fallback in most places: 0.0.0.0
    #service_email: admin@example.com, ${service}@${pillar[service_domain]}
    #service_domain: openstack_defaults.service_domain = example.com
    #auth_strategy: openstack_defaults.auth_strategy = keystone
    #rpc_backend: openstack_defaults.rpc_backend = rabbit
    #use_ipv6: False
    database:
        #host: pillar[openstack:controller:address_int]
        #type: openstack_defaults.db_type = mysql
    glance:
        #api_port: 9292
        #registry_port: 9191
    nova:
        #compute_port: 8774
    keystone:
        #host: pillar[openstack:controller:address_int]
        #public_port: 5000
        #uri: 'http://' + pillar[openstack:controller:address_ext] + ':' + pillar[openstack:keystone:public_port]
        #auth_port: 35357
        #auth_protocol: http
    neutron:
        #api_port: 9696
    rabbitmq:
        #host: pillar[openstack:controller:address_int], localhost
        #port: 5672
        #userid: openstack
        password: rabbitmq_pass # Fun Fact: having a '$' in here causes 
                                # stacktraces in neutron-server
        #use_ssl: False
        #durable_queues: False
    paste:
        #flavor: keystone

keystone:
    database:
        password:
        #host: falling back to
        # - pillar[openstack:database:host] 
        # - pillar[openstack:controller:address_int]
        # - keystone_defaults.db_host

glance:
    common:
        #known_stores: falling back to
        #  - glance.store.filesystem.Store
        #  - glance.store.http.Store
        #debug: False
        #verbose: False
        #api_port: 9292
        #bind_host: pillar[openstack:controller:address_int]
        #registry_port: falling back to
        #   - openstack:glance:registry_port
        #   - 9191
        #file_store_datadir: '/var/lib/glance/images/'
        #scrubber_datadir: '/var/lib/glance/scrubber'
        database:
            #username: glance
            password: glance_pass
        keystone_authtoken:
            #admin_user = glance
            admin_password: service_pass_glance
            #auth_uri: http://controller:5000
            #auth_port: 35357
            #auth_protocol: http
            #admin_tenant_name: service
         paste_deploy:
            #flavor: keystone
    api:
        DEFAULT:
            #bind_host: falling back to
            # - glance:common:DEFAULT:bind_host
            # - openstack:controller:address_ext
            # - 0.0.0.0
            #debug: pillar[glance:common:DEFAULT:debug], False
            #verbose: False
            #default_store: file
            #known_stores: 'glance.store.filesystem.Store, glance.store.http.Store'
            #filesystem_store_datadir: /var/lib/glance/images/
            #registry_host: falling back to
            #   - pillar['glance:registry:DEFAULT:bind_host']
            #   - pillar['glance:common:DEFAULT:bind_host']
            #   - pillar[openstack:controller:address_ext]
            #   - localhost
            #rabbit_host: falling back to
            #    - pillar[openstack:rabbitmq:host]
            #    - pillar[openstack:controller:address_int]
            #image_cache_dir: /var/lib/glance/image-cache/
    registry:
        DEFAULT:
            #bind_host: falling back to
            #   - pillar['glance:common:DEFAULT:bind_host']
            #   - pillar[openstack:controller:address_ext]
            #   - 0.0.0.0
            #bind_port: falling back to
            # - pillar[openstack:glance:registry_port]
            # - 9191

horizon:
    #lock_dir: horizon_defaults.lock_dir = /var/run/horizon

neutron:
    common:
        keystone_authtoken:
            #admin_tenant_name: service
            #admin_user = neutron
            admin_password: service_pass_neutron
            
    server:
        DEFAULT:
            #debug: False
            #verbose: False
            #bind_host: 0.0.0.0
            #bind_port: pillar[openstack:neutron:api_port], 9696
            #core_plugin: ml2
            #allow_overlapping_ips: False
            #notify_nova_on_port_status_changes: True
            #notify_nova_on_port_data_changes: True
            #nova_admin_password: falls back to
            #   - pillar[nova:keystone_authtoken:admin_password]
            #     (which shouldn't be availabe if you separated
            #     controller and network-host)
            #nova_admin_user: falls back to
            #   - pillar[nova:keystone_authtoken:admin_user]
            #   - 'nova'
        database:
            password:
    dhcp_agent:
        ovs_integration_bridge: br-int

nova:
   DEFAULT:
       #my_ip: pillar[openstack:controller:address_int], localhost
       #rpc_backend: rabbit
       #rabbit_host: pillar[openstack:controller:address_int], localhost
       #debug: False
       #verbose: False
       #neutron_admin_username: falls back to
       #    - pillar[neutron:common:keystone_authtoken:admin_user]
       #    - 'neutron'
       #neutron_admin_password: falls back to
       #    - pillar[neutron:common:keystone_authtoken:admin_password]
       #      (which shouldn't be available if you've got a separate
       #      network host...)
       #nova_url
       #metadata_listen: pillar[openstack:controller:address_int], 0.0.0.0
       #metadata_host: pillar[openstack:controller:address_int], 127.0.0.1
       #auth_strategy: falls back to
       # - pillar[openstack:auth_strategy]
       # - openstack_defaults.auth_strategy = 'keystone'
   database:
       #type: openstack_defaults = mysql
       password: <needs to be set>
   keystone_authtoken:
       admin_password: <needs to be set>
