{% set heat_defaults = {
    'api_port': 8004,
    'cfn_port': 8000,
    'cloudwatch_port': 8003,
    'db_name': 'heat',
    'db_pass': 'FnIVtSlUMEYKz/sw_<Heat DB Password is UNSET>_dUTghDK0zsB',
    'db_user': 'heat',
} %}
