{% set neutron_defaults = {
    'db_name': 'neutron',
    'db_pass': '! Password for NEUTRON DATABASE is UNSET!',
    'db_user': 'neutron',
    'keystone_password': 'z4j0xIrKAp1_<Neutron Keystone Password is UNSET>_mBkKINw3edU',
    'nova_admin_password': '<7Y3tJxe>_nova_admin_password_for_neutron_UNSET<elqlH8hA>'
} %}
