{% set neutron_defaults = {
    'db_name': 'neutron',
    'db_pass': '! Password for NEUTRON DATABASE not set !',
    'db_user': 'neutron',
    'keystone_password': 'z4j0xIrKAp1_<Neutron Keystone Password is UNSET>_mBkKINw3edU',
} %}
