{% set neutron = salt['grains.filter_by']({
    'Ubuntu': {
        'compute_packages': [
                'neutron-common', 
                'neutron-plugin-ml2',
                'neutron-plugin-openvswitch-agent', 
        ],
        'conf_dir': '/etc/neutron',
        'controller_packages': [
                'neutron-metadata-agent',
                'neutron-plugin-ml2', 
                'neutron-server', 
        ],
        'l3_agent_ini': '/etc/neutron/l3_agent.ini',
        'network_packages': [
                'neutron-dhcp-agent',
                'neutron-l3-agent',
                'neutron-plugin-ml2',
                'neutron-plugin-openvswitch-agent',
        ],
        'neutron_conf_file': '/etc/neutron/neutron.conf',
        'plugins_ml2_conf_ini': '/etc/neutron/plugins/ml2/ml2_conf.ini',
    },
}, merge=salt['pillar.get']('neutron:lookup'), grain='os') %}
