[DEFAULT]
devices = {{ mount_point }}
mount_check = false
disable_fallocate = true
bind_port = {{ bind_port }}
workers = 1
user = {{ user }}
log_facility = {{ log_facility }}
recon_cache_path = /var/cache/swift
eventlet_debug = true
{% if type in ['container'] %}
allow_versions = true{% endif %}

[pipeline:main]
pipeline = recon {{ type }}-server

[app:{{ type }}-server]
use = egg:swift#{{ type }}

[filter:recon]
use = egg:swift#recon

[{{ type }}-replicator]
vm_test_mode = yes

[{{ type }}-updater]

[{{ type }}-auditor]

{% if type in ['container'] %}
[container-sync]
{% elif type in ['account'] %}
[account-reaper]
{% endif %}
