[keystone_authtoken]
{%- set ctrl_addr = salt['pillar.get'](
    'openstack:controller_address','localhost') %}
auth_host={{ salt['pillar.get'](
    service+':keystone_authtoken:auth_host', ctrl_addr) }}
{%- set common_auth_port = salt['pillar.get'](
    'openstack:keystone:port', 35357) %}
auth_port={{ salt['pillar.get'](
    service+':keystone_authtoken:auth_port', common_auth_port) }}
{%- set common_auth_protocol = salt['pillar.get'](
    'openstack:keystone:port', http) %}
auth_protocol={{ salt['pillar.get'](
    service+':keystone_authtoken:auth_protocol', common_auth_protocol) }}
{%- set common_tenant_name = salt['pillar.get'](
    'openstack:keystone:tenant_name', 'service') %}
admin_tenant_name={{ salt['pillar.get'](
    service+':keystone_authtoken:admin_tenant_name',common_tenant_name) }}
admin_user={{ salt['pillar.get'](
    service+':keystone_authtoken:admin_user', service) }}
admin_password='{{ salt['pillar.get'](
    service+':keystone_authtoken:admin_password') }}'
auth_uri={{ salt['pillar.get'](
    service+':keystone_authtoken:auth_uri', 'http://'+ctrl_addr+':5000') }}
