{% macro comment_if_default(get, pillar_key, 
    default='', quoted=False, no_space=False) -%}
  {% set conf_key = pillar_key.split(':')[-1] %}
  {%- if get(pillar_key, False) -%}
    {%- if not quoted and not no_space -%}
{{ conf_key }} = {{ get(pillar_key) }}
    {%- elif not quoted and no_space -%}
{{ conf_key }}={{ get(pillar_key) }}
    {%- elif quoted and no_space -%}
{{ conf_key }}='{{ get(pillar_key) }}'
    {%- else -%}
{{ conf_key }} = '{{ get(pillar_key) }}'
    {%- endif -%}
  {%- else -%}
    {%- if not quoted and not no_space -%}
# {{ conf_key }} = {{ default }}
    {%- elif not quoted and no_space -%}
# {{ conf_key }}={{ default }}
    {%- elif quoted and no_space -%}
# {{ conf_key }}='{{ default }}'
    {%- else -%}
# {{ conf_key }} = '{{ default }}'
    {%- endif -%}
  {%- endif -%}
{%- endmacro %}

{%- macro keystone_authtoken(get, service) -%}
    {%- set ctrl_addr = get('openstack:controller_address','localhost') %}
auth_host={{ get(service+':keystone_authtoken:auth_host', ctrl_addr) }}
    {%- set common_auth_port = get('openstack:keystone:port', 35357) %}
auth_port={{ get(service+':keystone_authtoken:auth_port',
        common_auth_port) }}
    {%- set common_auth_protocol = get('openstack:keystone:protocol', 'http') %}
auth_protocol={{ get(service+':keystone_authtoken:auth_protocol', 
        common_auth_protocol) }}
    {%- set common_tenant_name = get('openstack:keystone:tenant_name', 
        'service') %}
admin_tenant_name={{ get( service+':keystone_authtoken:admin_tenant_name',
        common_tenant_name) }}
admin_user={{ get(service+':keystone_authtoken:admin_user', service) }}
admin_password='{{ get(
        service+':keystone_authtoken:admin_password') }}'
auth_uri={{ get(service+':keystone_authtoken:auth_uri',
        'http://'+ctrl_addr+':'+get(
            'openstack:keystone:public_port',5000|string)) }}
{%- endmacro %}

{%- macro database_connection(get, service) -%}
    {%- set db_type = get(service + ':database:type', 
                            get(service+':common:database:type', 
                                'mysql')
                      ) %}
    {%- set db_user = get(service + ':database:username', 
                            get(service + ':common:database:username',
                                service.split(':')[0])
                      ) %}
    {%- set db_pass = get(service + ':database:password',
                            get(service + ':common:database:password')
                      ) %}
    {%- set ctrl_addr = get('openstack:controller_address', 'localhost') %}
    {%- set db_host = get(service + ':database:host',
                            get(service+':common:database:host',
                                 ctrl_addr)
                      ) %}
    {%- set db_name = get(service + ':database:name', 
                                get(service + 'common:database:name',
                                    service.split(':')[0])
                      ) %}
connection = {{ '{0}://{1}:{2}@{3}/{4}'.format(db_type, db_user, db_pass, db_host, db_name) }}
{%- endmacro %}
