{% from 'openstack/defaults.jinja' import openstack_defaults -%}
{% from 'keystone/defaults.jinja' import keystone_defaults -%}
# COMMON OPENSTACK ENVS
#export SERVICE_TOKEN="{{ salt['pillar.get']('keystone.token', 
                            keystone_defaults.admin_token) }}"
export OS_USERNAME=admin
{%- if salt['pillar.get']('keystone.username') == 'admin' %}
export OS_PASSWORD="{{ salt['pillar.get']('keystone.password',
                            keystone_defaults.admin_password) }}"
{%- else %}
export OS_PASSWORD="{{ salt['pillar.get']('keystone:admin_password',
                            keystone_defaults.admin_password) }}"
{%- endif %}
export OS_TENANT_NAME=admin
export OS_REGION_NAME="{{ 
                        salt['pillar.get']('keystone.region',
                            salt['pillar.get']('openstack:region_name',
                                openstack_defaults.region_name)
                        ) }}"
export OS_AUTH_URL="{{ salt['pillar.get']('keystone.auth_url') }}"
#export SERVICE_ENDPOINT="{{ salt['pillar.get']('keystone.endpoint')}}"
export OS_AUTH_STRATEGY=keystone
export OS_NO_CACHE=1

# LEGACY NOVA ENVS
export NOVA_USERNAME=${OS_USERNAME}
export NOVA_PROJECT_ID=${OS_TENANT_NAME}
export NOVA_PASSWORD="${OS_PASSWORD}"
export NOVA_API_KEY="${OS_PASSWORD}"
export NOVA_URL="${OS_AUTH_URL}"
export NOVA_VERSION=1.1
export NOVA_REGION_NAME=${OS_REGION_NAME}
