{% set nova_defaults = {
    'db_name': 'nova',
    'db_user': 'nova',
    'db_pass': '!Password_for_NOVA_not_set!',
    'keystone_password': '<2XzQRH>_keystone password for NOVA UNSET_<MHr2qLw>',
    'images_type': 'default',
    'images_volume_group': None,
    'instances_path': 'instances',
    'libvirt_sparse_logical_volumes': False,
    'libvirt_vif_driver': 'nova.virt.libvirt.vif.LibvirtHybridOVSBridgeDriver',
    'lock_path': '/run/lock/nova',
    'neutron_admin_password': '! neutron_admin_password for Nova UNSET !',
    'osapi_compute_listen': '0.0.0.0',
    'state_path': '/var/lib/nova',
} %}
