{% set nova_defaults = {
    'db_name': 'nova',
    'db_user': 'nova',
    'db_pass': '!Password_for_NOVA_not_set!',
    'keystone_password': '<2XzQRH>_keystone password for NOVA not set_<MHr2qLw>',
    'osapi_compute_listen': '0.0.0.0',
    'neutron_admin_password': '! neutron_admin_password for Nova not set !',
} %}
