{% set nova = salt['grains.filter_by']({
    'Ubuntu': {
        'controller_packages': [
                        'nova-api', 
                        'nova-cert', 
                        'nova-conductor', 
                        'nova-consoleauth', 
                        'nova-novncproxy', 
                        'nova-scheduler', 
                        'nova-spiceproxy',
                        'novnc',
                        'python-novaclient',
        ],
        'migrate_repo': 
            '/usr/lib/python2.7/dist-packages/' + 
                'nova/db/sqlalchemy/migrate_repo',
        'nova_conf_file': '/etc/nova/nova.conf',
    },
}, merge=salt['pillar.get']('nova:lookup'), grain='os') %}
