{% set nova = salt['grains.filter_by']({
    'Ubuntu': {
        'controller_packages': ['python-novaclient', 
                        'nova-api', 
                        'nova-cert', 
                        'nova-consoleauth', 
                        'nova-scheduler', 
                        'nova-conductor', 
                        'nova-spiceproxy'],
        'nova_conf_file': '/etc/nova/nova.conf',
    },
}, merge=salt['pillar.get']('nova:lookup'), grain='os') %}
