{% set openstack_defaults = 
    {
        'auth_strategy': 'keystone',
        'db_type' : 'mysql',
        'glance': {
            'registry_port': 9191,
        },
        'keystone': {
            'admin_tenant_name': 'service',
            'auth_port': 35357,
            'auth_protocol': 'http',
            'host': '127.0.0.1',
            'public_port': 5000,
        },
        'nova': {
            'compute_port': 8774,
        },
        'rabbitmq': {
            'port': 5672,
            'use_ssl': False,
            'userid': 'openstack',
            'password': '<6rGZti!>_rabbit_pass_is_UNSET_<VvBtjwBQ>',
            'virtual_host': '/',
        },
        'region_name': 'RegionOne',
        'use_ipv6': False,
        'neutron': {
            'shared_secret': 
                '<Fim7zXG0>_neutron_metadata_proxy_shared_secret_is_UNSET_<6tOxHCMtC>',
        },
        'service_domain': 'example.com',
    } 
%}
