{% set keystone_defaults = {
    'admin_password': 'Password for the Keystone user "admin" is UNSET.',
    'admin_email': 'admin@example.com',
    'admin_token': 'pillar[keystone.token], is UNSET stuff will break.',
    'db_host': 'localhost',
    'db_name': 'keystone',
    'db_pass': 'Password_for_KEYSTONE_is_UNSET',
    'db_type': 'mysql',
    'db_user': 'keystone',
} %}
