{% set keystone_defaults = {
    'admin_token': 'You forgot to set pillar[keystone.token], stuff will break.',
    'db_host': 'localhost',
    'db_name': 'keystone',
    'db_pass': 'Password_for_KEYSTONE_not_set',
    'db_type': 'mysql',
    'db_user': 'keystone',
} %}
